In [22]:
import pandas as pd

In [40]:
df=pd.read_csv('oli_consumption.csv')
df.shape

(103, 59)

In [41]:
df.columns

Index(['1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '1973',
       'Growth rate per annum 2007-17', 'Growth rate per annum 2017',
       'Number of Records', 'Oil: Consumption* Million tonnes oil equivalent',
       'Share 2017'],
      dtype='object')

In [42]:
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1974,1975,...,2015,2016,2017,2018,1973,Growth rate per annum 2007-17,Growth rate per annum 2017,Number of Records,Oil: Consumption* Million tonnes oil equivalent,Share 2017
0,55.272396,58.234069,62.175940,66.190292,68.920491,73.499592,75.481547,79.478321,85.301383,83.521311,...,106.966207,108.702138,108.796753,109.974271,83.882607,0.001944,0.010823,1,Canada,0.023589
1,15.343793,16.078587,17.220666,18.726045,19.790064,21.278996,22.565501,25.409552,30.718159,33.896053,...,88.486157,89.128402,85.819769,82.824033,27.192227,-0.011594,-0.034907,1,Mexico,0.017766
2,565.869388,594.152486,617.120100,659.945528,695.892017,723.721235,748.587032,808.809997,819.627912,803.778663,...,884.512178,893.263915,901.997187,919.729513,853.780970,-0.006315,0.019659,1,US,0.197280
3,636.485576,668.465142,696.516707,744.861865,784.602573,818.499823,846.634080,913.697870,935.647454,921.196027,...,1079.964542,1091.094456,1096.613710,1112.527817,964.855804,-0.005957,0.014512,1,Total North America,0.238635
4,22.367953,23.092416,23.661791,24.162294,25.105912,22.541685,24.073526,24.106384,24.273772,22.866747,...,32.904958,32.314052,32.036983,30.113779,24.188986,0.025816,-0.060031,1,Argentina,0.006459

In [43]:
df['countries']=df['Oil: Consumption* Million tonnes oil equivalent']
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1974,1975,...,2016,2017,2018,1973,Growth rate per annum 2007-17,Growth rate per annum 2017,Number of Records,Oil: Consumption* Million tonnes oil equivalent,Share 2017,countries
0,55.272396,58.234069,62.175940,66.190292,68.920491,73.499592,75.481547,79.478321,85.301383,83.521311,...,108.702138,108.796753,109.974271,83.882607,0.001944,0.010823,1,Canada,0.023589,Canada
1,15.343793,16.078587,17.220666,18.726045,19.790064,21.278996,22.565501,25.409552,30.718159,33.896053,...,89.128402,85.819769,82.824033,27.192227,-0.011594,-0.034907,1,Mexico,0.017766,Mexico
2,565.869388,594.152486,617.120100,659.945528,695.892017,723.721235,748.587032,808.809997,819.627912,803.778663,...,893.263915,901.997187,919.729513,853.780970,-0.006315,0.019659,1,US,0.197280,US
3,636.485576,668.465142,696.516707,744.861865,784.602573,818.499823,846.634080,913.697870,935.647454,921.196027,...,1091.094456,1096.613710,1112.527817,964.855804,-0.005957,0.014512,1,Total North America,0.238635,Total North America
4,22.367953,23.092416,23.661791,24.162294,25.105912,22.541685,24.073526,24.106384,24.273772,22.866747,...,32.314052,32.036983,30.113779,24.188986,0.025816,-0.060031,1,Argentina,0.006459,Argentina

In [44]:
df=df[['countries','1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018']]
df.head()

,countries,1965,1966,1967,1968,1969,1970,1971,1972,1974,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Canada,55.272396,58.234069,62.175940,66.190292,68.920491,73.499592,75.481547,79.478321,85.301383,...,99.762396,107.068086,110.367291,107.471962,107.805690,109.646464,106.966207,108.702138,108.796753,109.974271
1,Mexico,15.343793,16.078587,17.220666,18.726045,19.790064,21.278996,22.565501,25.409552,30.718159,...,92.940218,93.343641,94.899632,96.431584,93.758781,89.514740,88.486157,89.128402,85.819769,82.824033
2,US,565.869388,594.152486,617.120100,659.945528,695.892017,723.721235,748.587032,808.809997,819.627912,...,860.588513,877.453257,862.165031,843.835305,859.769126,866.147645,884.512178,893.263915,901.997187,919.729513
3,Total North America,636.485576,668.465142,696.516707,744.861865,784.602573,818.499823,846.634080,913.697870,935.647454,...,1053.291127,1077.864984,1067.431954,1047.738851,1061.333597,1065.308848,1079.964542,1091.094456,1096.613710,1112.527817
4,Argentina,22.367953,23.092416,23.661791,24.162294,25.105912,22.541685,24.073526,24.106384,24.273772,...,25.006119,28.568863,28.852377,30.146814,32.351584,31.916016,32.904958,32.314052,32.036983,30.113779

In [45]:
df=df[df.countries.str.contains('Total|Other|America|Europe|Union|Middle|Western|OECD')==False]
#df=df[df.countries.str.contains('Other')==False]
df.tail()

,countries,1965,1966,1967,1968,1969,1970,1971,1972,1974,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
92,South Korea,1.300480,1.947149,3.375507,4.990514,6.773073,8.460101,9.554941,9.973600,12.681680,...,109.014031,110.514371,111.445281,114.738204,114.293601,114.057713,120.165370,129.333490,129.961760,128.876574
93,Sri Lanka,0.471572,0.482951,0.494646,0.506479,0.518212,1.036267,0.943722,1.030963,0.851033,...,4.322397,4.295876,4.576973,4.745429,4.005943,3.472389,4.310711,5.068025,5.427666,5.342139
94,Taiwan,2.208785,2.612964,3.103428,3.701331,4.432443,5.322958,7.450605,8.062883,9.233284,...,47.959167,48.990155,44.546577,44.533194,45.521823,47.053992,47.492446,48.747630,50.119162,50.045484
95,Thailand,2.381457,2.810960,3.119875,4.112510,4.453973,5.185130,5.772345,7.246151,7.809115,...,48.624996,50.213515,52.378238,55.130667,57.244796,57.577616,60.244185,62.490385,64.357282,65.785046
96,Vietnam,1.548714,3.384720,4.957216,5.057102,6.112092,6.336598,5.360566,5.550255,3.326416,...,14.750988,15.960240,17.356307,17.559155,18.958823,19.511255,21.189895,22.473842,23.638310,24.851152

In [46]:
df.set_index('countries', inplace=True)
df.head()

,1965,1966,1967,1968,1969,1970,1971,1972,1974,1975,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
countries,,,,,,,,,,,,,,,,,,,,,
Canada,55.272396,58.234069,62.175940,66.190292,68.920491,73.499592,75.481547,79.478321,85.301383,83.521311,...,99.762396,107.068086,110.367291,107.471962,107.805690,109.646464,106.966207,108.702138,108.796753,109.974271
Mexico,15.343793,16.078587,17.220666,18.726045,19.790064,21.278996,22.565501,25.409552,30.718159,33.896053,...,92.940218,93.343641,94.899632,96.431584,93.758781,89.514740,88.486157,89.128402,85.819769,82.824033
US,565.869388,594.152486,617.120100,659.945528,695.892017,723.721235,748.587032,808.809997,819.627912,803.778663,...,860.588513,877.453257,862.165031,843.835305,859.769126,866.147645,884.512178,893.263915,901.997187,919.729513
Argentina,22.367953,23.092416,23.661791,24.162294,25.105912,22.541685,24.073526,24.106384,24.273772,22.866747,...,25.006119,28.568863,28.852377,30.146814,32.351584,31.916016,32.904958,32.314052,32.036983,30.113779
Brazil,15.282079,16.663594,17.196194,20.653152,22.662744,25.740394,28.389699,32.709015,43.251885,44.630368,...,112.891066,122.789129,128.373185,131.290794,140.307202,145.666176,140.623371,132.703259,136.094996,135.914299

In [47]:
df.to_excel(r'C:\Users\katya\Documents\DD Storytelling\oil_consumption_clean.xlsx')

In [13]:
df.dropna(inplace=True)
df.shape

(68, 53)

In [15]:
import datetime

In [20]:
df.columns=pd.to_datetime(df.columns)
df.head()

,1965-01-01 00:00:00,1966-01-01 00:00:00,1967-01-01 00:00:00,1968-01-01 00:00:00,1969-01-01 00:00:00,1970-01-01 00:00:00,1971-01-01 00:00:00,1972-01-01 00:00:00,1974-01-01 00:00:00,1975-01-01 00:00:00,...,2009-01-01 00:00:00,2010-01-01 00:00:00,2011-01-01 00:00:00,2012-01-01 00:00:00,2013-01-01 00:00:00,2014-01-01 00:00:00,2015-01-01 00:00:00,2016-01-01 00:00:00,2017-01-01 00:00:00,2018-01-01 00:00:00
countries,,,,,,,,,,,,,,,,,,,,,
Canada,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.024732,0.057519,0.129339,0.199348,0.339141,0.479658,0.655066,0.685911,0.744943,0.802428
Mexico,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.006109,0.007015,0.009277,0.015613,0.023985,0.050007,0.055664,0.057084,0.268477,0.507490
US,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.469738,0.681775,1.072296,2.044851,3.629383,6.610889,8.921180,12.540210,17.662254,21.975422
Argentina,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000017,0.000019,0.000365,0.001849,0.003411,0.003608,0.003322,0.003230,0.003715,0.024467
Brazil,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000222,0.001085,0.003639,0.013332,0.019292,0.188219,0.709843

In [21]:
df.pivot

<bound method DataFrame.pivot of                       1965-01-01  1966-01-01  1967-01-01  1968-01-01  \
countries
Canada                       0.0         0.0         0.0         0.0
Mexico                       0.0         0.0         0.0         0.0
US                           0.0         0.0         0.0         0.0
Argentina                    0.0         0.0         0.0         0.0
Brazil                       0.0         0.0         0.0         0.0
Chile                        0.0         0.0         0.0         0.0
Colombia                     0.0         0.0         0.0         0.0
Ecuador                      0.0         0.0         0.0         0.0
Peru                         0.0         0.0         0.0         0.0
Trinidad & Tobago            0.0         0.0         0.0         0.0
Venezuela                    0.0         0.0         0.0         0.0
Austria                      0.0         0.0         0.0         0.0
Belgium                      0.0         0.0         0.0         0.0
Bulgaria                     0.0         0.0         0.0         0.0
Cyprus                       0.0         0.0         0.0         0.0
Czech Republic               0.0         0.0         0.0         0.0
Denmark                      0.0         0.0         0.0         0.0
Finland                      0.0         0.0         0.0         0.0
France                       0.0         0.0         0.0         0.0
Germany                      0.0         0.0         0.0         0.0
Greece                       0.0         0.0         0.0         0.0
Hungary                      0.0         0.0         0.0         0.0
Iceland                      0.0         0.0         0.0         0.0
Ireland                      0.0         0.0         0.0         0.0
Italy                        0.0         0.0         0.0         0.0
Luxembourg                   0.0         0.0         0.0         0.0
Netherlands                  0.0         0.0         0.0         0.0
Norway                       0.0         0.0         0.0         0.0
Poland                       0.0         0.0         0.0         0.0
Portugal                     0.0         0.0         0.0         0.0
...                          ...         ...         ...         ...
Iran                         0.0         0.0         0.0         0.0
Iraq                         0.0         0.0         0.0         0.0
Israel                       0.0         0.0         0.0         0.0
Kuwait                       0.0         0.0         0.0         0.0
Oman                         0.0         0.0         0.0         0.0
Qatar                        0.0         0.0         0.0         0.0
Saudi Arabia                 0.0         0.0         0.0         0.0
United Arab Emirates         0.0         0.0         0.0         0.0
Algeria                      0.0         0.0         0.0         0.0
Egypt                        0.0         0.0         0.0         0.0
Morocco                      0.0         0.0         0.0         0.0
South Africa                 0.0         0.0         0.0         0.0
Eastern Africa               0.0         0.0         0.0         0.0
Australia                    0.0         0.0         0.0         0.0
Bangladesh                   0.0         0.0         0.0         0.0
China                        0.0         0.0         0.0         0.0
China Hong Kong SAR          0.0         0.0         0.0         0.0
India                        0.0         0.0         0.0         0.0
Indonesia                    0.0         0.0         0.0         0.0
Japan                        0.0         0.0         0.0         0.0
Malaysia                     0.0         0.0         0.0         0.0
New Zealand                  0.0         0.0         0.0         0.0
Pakistan                     0.0         0.0         0.0         0.0
Philippines                  0.0         0.0         0.0         0.0
Singapore                    0.0         0.0         0.0         0.0
South Korea                  0.0         0.0         0.0         0.0
Sri Lanka                    0.0         0.0         0.0         0.0
Taiwan                       0.0         0.0         0.0         0.0
Thailand                     0.0         0.0         0.0         0.0
Vietnam                      0.0         0.0         0.0         0.0

                      1969-01-01  1970-01-01  1971-01-01  1972-01-01  \
countries
Canada                       0.0         0.0         0.0         0.0
Mexico                       0.0         0.0         0.0         0.0
US                           0.0         0.0         0.0         0.0
Argentina                    0.0         0.0         0.0         0.0
Brazil                       0.0         0.0         0.0         0.0
Chile                        0.0         0.0         0.0         0.0
Colombia                     0.0         0.0         0.0         0.0
Ecuador                      0.0         0.0         0.0         0.0
Peru                         0.0         0.0         0.0         0.0
Trinidad & Tobago            0.0         0.0         0.0         0.0
Venezuela                    0.0         0.0         0.0         0.0
Austria                      0.0         0.0         0.0         0.0
Belgium                      0.0         0.0         0.0         0.0
Bulgaria                     0.0         0.0         0.0         0.0
Cyprus                       0.0         0.0         0.0         0.0
Czech Republic               0.0         0.0         0.0         0.0
Denmark                      0.0         0.0         0.0         0.0
Finland                      0.0         0.0         0.0         0.0
France                       0.0         0.0         0.0         0.0
Germany                      0.0         0.0         0.0         0.0
Greece                       0.0         0.0         0.0         0.0
Hungary                      0.0         0.0         0.0         0.0
Iceland                      0.0         0.0         0.0         0.0
Ireland                      0.0         0.0         0.0         0.0
Italy                        0.0         0.0         0.0         0.0
Luxembourg                   0.0         0.0         0.0         0.0
Netherlands                  0.0         0.0         0.0         0.0
Norway                       0.0         0.0         0.0         0.0
Poland                       0.0         0.0         0.0         0.0
Portugal                     0.0         0.0         0.0         0.0
...                          ...         ...         ...         ...
Iran                         0.0         0.0         0.0         0.0
Iraq                         0.0         0.0         0.0         0.0
Israel                       0.0         0.0         0.0         0.0
Kuwait                       0.0         0.0         0.0         0.0
Oman                         0.0         0.0         0.0         0.0
Qatar                        0.0         0.0         0.0         0.0
Saudi Arabia                 0.0         0.0         0.0         0.0
United Arab Emirates         0.0         0.0         0.0         0.0
Algeria                      0.0         0.0         0.0         0.0
Egypt                        0.0         0.0         0.0         0.0
Morocco                      0.0         0.0         0.0         0.0
South Africa                 0.0         0.0         0.0         0.0
Eastern Africa               0.0         0.0         0.0         0.0
Australia                    0.0         0.0         0.0         0.0
Bangladesh                   0.0         0.0         0.0         0.0
China                        0.0         0.0         0.0         0.0
China Hong Kong SAR          0.0         0.0         0.0         0.0
India                        0.0         0.0         0.0         0.0
Indonesia                    0.0         0.0         0.0         0.0
Japan                        0.0         0.0         0.0         0.0
Malaysia                     0.0         0.0         0.0         0.0
New Zealand                  0.0         0.0         0.0         0.0
Pakistan                     0.0         0.0         0.0         0.0
Philippines                  0.0         0.0         0.0         0.0
Singapore                    0.0         0.0         0.0         0.0
South Korea                  0.0         0.0         0.0         0.0
Sri Lanka                    0.0         0.0         0.0         0.0
Taiwan                       0.0         0.0         0.0         0.0
Thailand                     0.0         0.0         0.0         0.0
Vietnam                      0.0         0.0         0.0         0.0

                      1974-01-01  1975-01-01  ...  2009-01-01  2010-01-01  \
countries                                     ...
Canada                       0.0         0.0  ...    0.024732    0.057519
Mexico                       0.0         0.0  ...    0.006109    0.007015
US                           0.0         0.0  ...    0.469738    0.681775
Argentina                    0.0         0.0  ...    0.000017    0.000019
Brazil                       0.0         0.0  ...    0.000000    0.000000
Chile                        0.0         0.0  ...    0.000000    0.000000
Colombia                     0.0         0.0  ...    0.000000    0.000000
Ecuador                      0.0         0.0  ...    0.000002    0.000000
Peru                         0.0         0.0  ...    0.000000    0.000000
Trinidad & Tobago            0.0         0.0  ...    0.000792    0.000905
Venezuela                    0.0         0.0  ...    0.000000    0.000557
Austria                      0.0         0.0  ...    0.011068    0.020096
Belgium                      0.0         0.0  ...    0.037562    0.126714
Bulgaria                     0.0         0.0  ...    0.000679    0.003394
Cyprus                       0.0         0.0  ...    0.000905    0.001584
Czech Republic               0.0         0.0  ...    0.020095    0.139318
Denmark                      0.0         0.0  ...    0.000849    0.001394
Finland                      0.0         0.0  ...    0.000973    0.001063
France                       0.0         0.0  ...    0.039372    0.140291
Germany                      0.0         0.0  ...    1.489569    2.653980
Greece                       0.0         0.0  ...    0.011314    0.035751
Hungary                      0.0         0.0  ...    0.000226    0.000226
Iceland                      0.0         0.0  ...    0.000000    0.000000
Ireland                      0.0         0.0  ...    0.000096    0.000108
Italy                        0.0         0.0  ...    0.153188    0.431212
Luxembourg                   0.0         0.0  ...    0.004597    0.004785
Netherlands                  0.0         0.0  ...    0.010057    0.013451
Norway                       0.0         0.0  ...    0.001742    0.001833
Poland                       0.0         0.0  ...    0.000000    0.000000
Portugal                     0.0         0.0  ...    0.036204    0.048649
...                          ...         ...  ...         ...         ...
Iran                         0.0         0.0  ...    0.000068    0.000158
Iraq                         0.0         0.0  ...    0.000000    0.000000
Israel                       0.0         0.0  ...    0.005431    0.015839
Kuwait                       0.0         0.0  ...    0.000000    0.000000
Oman                         0.0         0.0  ...    0.000000    0.000000
Qatar                        0.0         0.0  ...    0.000000    0.000000
Saudi Arabia                 0.0         0.0  ...    0.000136    0.000928
United Arab Emirates         0.0         0.0  ...    0.003824    0.004096
Algeria                      0.0         0.0  ...    0.000000    0.002059
Egypt                        0.0         0.0  ...    0.000498    0.005702
Morocco                      0.0         0.0  ...    0.000023    0.000023
South Africa                 0.0         0.0  ...    0.005272    0.006245
Eastern Africa               0.0         0.0  ...    0.010221    0.025441
Australia                    0.0         0.0  ...    0.065675    0.221217
Bangladesh                   0.0         0.0  ...    0.005680    0.010024
China                        0.0         0.0  ...    0.063131    0.158619
China Hong Kong SAR          0.0         0.0  ...    0.000000    0.000079
India                        0.0         0.0  ...    0.016971    0.025569
Indonesia                    0.0         0.0  ...    0.000023    0.000118
Japan                        0.0         0.0  ...    0.689124    0.900887
Malaysia                     0.0         0.0  ...    0.000002    0.000002
New Zealand                  0.0         0.0  ...    0.000812    0.000866
Pakistan                     0.0         0.0  ...    0.001199    0.003032
Philippines                  0.0         0.0  ...    0.000283    0.000284
Singapore                    0.0         0.0  ...    0.000520    0.001041
South Korea                  0.0         0.0  ...    0.128115    0.174866
Sri Lanka                    0.0         0.0  ...    0.001536    0.001628
Taiwan                       0.0         0.0  ...    0.002084    0.005790
Thailand                     0.0         0.0  ...    0.010047    0.013192
Vietnam                      0.0         0.0  ...    0.000000    0.000000

                      2011-01-01  2012-01-01  2013-01-01  2014-01-01  \
countries
Canada                  0.129339    0.199348    0.339141    0.479658
Mexico                  0.009277    0.015613    0.023985    0.050007
US                      1.072296    2.044851    3.629383    6.610889
Argentina               0.000365    0.001849    0.003411    0.003608
Brazil                  0.000000    0.000222    0.001085    0.003639
Chile                   0.000000    0.000077    0.001529    0.110771
Colombia                0.000000    0.000000    0.000000    0.000000
Ecuador                 0.000013    0.000074    0.000829    0.003730
Peru                    0.000000    0.013509    0.044554    0.045097
Trinidad & Tobago       0.000905    0.000905    0.000905    0.000905
Venezuela               0.000674    0.001181    0.001210    0.001527
Austria                 0.039388    0.076364    0.141642    0.177682
Belgium                 0.264516    0.486039    0.598271    0.652351
Bulgaria                0.022854    0.184188    0.307960    0.283296
Cyprus                  0.002715    0.004978    0.010635    0.018917
Czech Republic          0.479251    0.491718    0.468435    0.480359
Denmark                 0.003424    0.023501    0.117107    0.134751
Finland                 0.001199    0.001290    0.001471    0.001810
France                  0.470200    0.908721    1.071412    1.337964
Germany                 4.434765    5.969136    7.016790    8.158574
Greece                  0.138028    0.383310    0.825451    0.858035
Hungary                 0.000226    0.001810    0.005657    0.015160
Iceland                 0.000000    0.000000    0.000000    0.000000
Ireland                 0.000123    0.000146    0.000158    0.000214
Italy                   2.442798    4.267932    4.884962    5.047382
Luxembourg              0.005825    0.008661    0.016685    0.021438
Netherlands             0.022705    0.057418    0.116735    0.177572
Norway                  0.001923    0.002014    0.002217    0.002625
Poland                  0.000045    0.000249    0.000339    0.001584
Portugal                0.063810    0.088926    0.108417    0.141946
...                          ...         ...         ...         ...
Iran                    0.000158    0.000158    0.000158    0.000158
Iraq                    0.000000    0.000000    0.010477    0.012966
Israel                  0.043445    0.083495    0.124242    0.213366
Kuwait                  0.000000    0.000000    0.000045    0.000747
Oman                    0.000000    0.000000    0.000272    0.000272
Qatar                   0.000249    0.000249    0.000860    0.001471
Saudi Arabia            0.001131    0.005340    0.008847    0.009549
United Arab Emirates    0.004797    0.005453    0.023487    0.068041
Algeria                 0.004100    0.006047    0.006471    0.013577
Egypt                   0.021179    0.013147    0.013373    0.009390
Morocco                 0.000023    0.000023    0.000023    0.000023
South Africa            0.018170    0.019460    0.054985    0.254107
Eastern Africa          0.044035    0.060496    0.074035    0.089967
Australia               0.462630    0.545775    0.870571    1.120514
Bangladesh              0.013214    0.020568    0.029325    0.037924
China                   0.590578    0.813348    1.894802    5.320215
China Hong Kong SAR     0.000156    0.000193    0.000252    0.000249
India                   0.187129    0.474951    0.776802    1.110784
Indonesia               0.000174    0.000681    0.001245    0.001541
Japan                   1.230744    1.668078    2.920935    5.328363
Malaysia                0.000002    0.010635    0.031905    0.051364
New Zealand             0.000934    0.001091    0.001550    0.004129
Pakistan                0.006064    0.014866    0.032674    0.053740
Philippines             0.000274    0.000299    0.000320    0.003737
Singapore               0.001607    0.002761    0.004186    0.009074
South Korea             0.207539    0.249633    0.363213    0.578427
Sri Lanka               0.001972    0.002265    0.003255    0.006355
Taiwan                  0.015900    0.039163    0.076448    0.124838
Thailand                0.021360    0.112798    0.284541    0.437503
Vietnam                 0.000000    0.000000    0.000000    0.000905

                      2015-01-01  2016-01-01  2017-01-01  2018-01-01
countries
Canada                  0.655066    0.685911    0.744943    0.802428
Mexico                  0.055664    0.057084    0.268477    0.507490
US                      8.921180   12.540210   17.662254   21.975422
Argentina               0.003322    0.003230    0.003715    0.024467
Brazil                  0.013332    0.019292    0.188219    0.709843
Chile                   0.285353    0.597104    0.881556    1.158239
Colombia                0.000000    0.000000    0.000000    0.002715
Ecuador                 0.008159    0.008769    0.008481    0.008597
Peru                    0.052101    0.054718    0.064986    0.168619
Trinidad & Tobago       0.000905    0.000905    0.000903    0.000903
Venezuela               0.001988    0.002271    0.002265    0.002265
Austria                 0.212042    0.248001    0.287136    0.357207
Belgium                 0.690818    0.699642    0.743902    0.898702
Bulgaria                0.312938    0.313617    0.317456    0.249703
Cyprus                  0.028660    0.033022    0.038924    0.043406
Czech Republic          0.512241    0.482192    0.496304    0.529167
Denmark                 0.136729    0.168299    0.170043    0.215634
Finland                 0.002308    0.004344    0.009866    0.036702
France                  1.643209    1.846404    2.073304    2.298663
Germany                 8.762728    8.620627    8.915464   10.445762
Greece                  0.882473    0.889261    0.903172    0.857830
Hungary                 0.031905    0.055211    0.078970    0.133248
Iceland                 0.000000    0.000000    0.000000    0.000000
Ireland                 0.000366    0.001209    0.002444    0.005017
Italy                   5.191248    5.001652    5.516066    5.256535
Luxembourg              0.023469    0.022693    0.024542    0.026583
Netherlands             0.253770    0.352859    0.498789    0.724352
Norway                  0.003032    0.005385    0.009222    0.014592
Poland                  0.012898    0.028058    0.037335    0.067656
Portugal                0.180150    0.185998    0.224465    0.230801
...                          ...         ...         ...         ...
Iran                    0.000339    0.001131    0.003313    0.008530
Iraq                    0.012966    0.012966    0.012930    0.012930
Israel                  0.281997    0.369910    0.360930    0.405763

In [16]:
df.columns = df.columns.apply(pd.to_datetime)

AttributeError: 'Index' object has no attribute 'apply'

In [14]:
df.columns

Index(['1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1974',
       '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983',
       '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992',
       '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001',
       '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='object')